<h1 class="text-primary">検索結果</h1>
<%= render partial: "searches/search" %>
<% @videos.each do |video| %>
  <% snippet = video['snippet'] %>
  <div class="card">
    <%= link_to 'video', "https://www.youtube.com/watch?v=#{video['id']['videoId']}", target: :_blank, rel: "noopener noreferrer" %>
    <div class="thumbnails">
      <%= image_tag snippet['thumbnails']['high']['url'] %>
    </div>
    <h3 class="title">
      <%= snippet['title'] %>
    </h3>
    <p class="description">
      <%= snippet['description'] %>
    </p>
  </div>
<% end %>

